*.o
Makefile
Source/*/.deps
Source/*/.dirstamp
Project/GNU/CLI/Makefile.in
Project/GNU/CLI/*.log
Project/GNU/CLI/*.m4
Project/GNU/CLI/*.cache
Project/GNU/CLI/compile
Project/GNU/CLI/config.*
Project/GNU/CLI/configure
Project/GNU/CLI/depcomp
Project/GNU/CLI/install-sh
Project/GNU/CLI/missing
Project/GNU/CLI/test-driver
Project/GNU/CLI/bwfmetaedit
Project/GNU/CLI/test/*.log
Project/GNU/CLI/test/*.trs
Project/QtCreator/.*
Project/QtCreator/moc_*
Project/QtCreator/qrc_*
Project/QtCreator/Win32
Project/QtCreator/x64
Project/QtCreator/bwfmetaedit-gui
Project/QtCreator/BWF MetaEdit.app
Project/MSVC2015/Win32
Project/MSVC2015/x64
Project/MSVC2015/CLI/Win32
Project/MSVC2015/CLI/x64
Project/MSVC2015/GUI/Win32
Project/MSVC2015/GUI/x64
Project/MSVC2017/Win32
Project/MSVC2017/x64
Project/MSVC2017/CLI/Win32
Project/MSVC2017/CLI/x64
Project/MSVC2017/GUI/Win32
Project/MSVC2017/GUI/x64
Project/MSVC2022/Win32
Project/MSVC2022/x64
Project/MSVC2022/CLI/Win32
Project/MSVC2022/CLI/x64
