<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>BWF MetaEdit</string>
	<key>CFBundleIconFile</key>
	<string>Logo</string>
	<key>CFBundleIdentifier</key>
	<string>net.mediaarea.bwfmetaedit.mac</string>
	<key>CFBundleName</key>
	<string>BWF MetaEdit</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>24.10</string>
	<key>CFBundleVersion</key>
	<string>24.10</string>
	<key>DTSDKName</key>
	<string>macosx10.10</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.10</string>
	<key>NSHumanReadableCopyright</key>
	<string>(c) FADGI</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
